

/* Standard variables and values*/

$colours:(
    bgcolor: white,
    accentcolor: #D24545,
    darkaccent: #B53838, 
    textcolor: #000000,
    button-color: #000000,
    button-text-color:white,
    darkgrey:#2F2F2F
);

$fontsizes:(
    main-title:34px,
    secondary-titles:20px,
    psize:16px,
    subs:14px,
    main-menu:16px,
    logo:32px
);
$line-heights:(
    main-title:41px,
    secondary-titles:26px,
    psize:24px
);
footer{
    padding-top: 3%;
    padding-bottom: 3%;
    background: map-get($colours , accentcolor );
    color: white;
    li{
        margin-top: auto;
        margin-bottom: auto;
        color: white;
        a{
            color: white;
        }
    }
    .logo-footer{
        color: white;
        background: map-get($colours , darkaccent );
        padding: 10px;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        text-align: center;
        line-height: 2rem;
        margin-right: 30px;
    }
}
/* End Standard variables and values*/


/* Sections*/
a:hover{color: white !important;}
header a:hover{color: black !important;}
  #header{
    .nav2{text-align: right;float: right;}
    .nav-item, .nav, p{
        margin-top: auto!important;
        margin-bottom: auto!important;
    }
    nav, header{
        font-size: map-get($fontsizes , main-menu );
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #DDDDDD!important;
    }
    header div{
        margin-top: auto;
        margin-bottom: auto;
    }
   }
   #body{
    .bg-main-section-one{
       background-position: left top;
       background-repeat: no-repeat;
       background-size: contain;
       }
    .bg-main-section-one img{
        margin-top: 45px;
        max-width: 100%;
    }
    .m-s-two{
        padding-top: 45px;
    }
    .side-line{
        border-left: 5px solid;
        padding-left: 10px;
        border-color:map-get($colours , accentcolor );
        font-size: map-get($fontsizes , secondary-titles );
    }
    .subtitles{
        padding-left: 15px;font-size: map-get($fontsizes , subs );color: map-get($colours , darkgrey );
    }
    .l-news{font-size: map-get($fontsizes , psize );font-weight: 800;margin-bottom: 30px;}
    .m-s-one{
        h2{margin-top:70px;margin-right:40px;font-size:map-get($fontsizes , main-title );font-weight: 800;};
        P{margin-bottom: 27px;margin-right:70px;line-height: 24px;}
    }
    .little-new{
        .col-12{margin-bottom:30px ;border-bottom: 1px solid #DDDDDD;}
    }
    .little-new{
        .col-12{
            p{margin-bottom:30px ;}
        }
    }
}
   #secondary-news{
       .news-box{
           padding: 20px 25px;
           border: 1px solid #DFDFDF;
           border-radius: 5px;
       }
       .news-box div{
        border: 1px solid white;
        border-radius: 5px;
        padding: 35px 40px;
    }
    .news-box div:hover{
        border: 1px solid #DFDFDF;
    }
    .news-box .subtitles{
        padding: 0px;
        margin-bottom: 0rem;
    }
       .news-box:hover{
        background: map-get($colours , accentcolor );
    }
    .news-box:hover p{
        color:white;
    }
    .news-box:hover h4{
        color:white;
    }
       .news-box{
           h4{
               font-size: map-get($fontsizes , secondary-titles );
               line-height: map-get($line-heights , secondary-titles );
           }
       }
       .news-box-space{
        margin-bottom: 20px;
    }
    .subtitles{
        padding-left: 0px!important;
    }
   }
 #third-type-news{
     .col-lg-3, .col-lg-6{
         padding:0px;
     }
     .text-article{
         min-height: 110px;
         max-width: 275px;
     }
     h4{
         padding-top: 10px;
     }
     .subs{
         font-size: map-get($fontsizes , subs );
     }
     .col-lg-6 img{
         width: 100%;
     }
     .text-article{
         margin-bottom: 30px;
     }
 }
 #special-features{
     background-color: map-get($colours , darkaccent );
     padding-top: 4%;
     padding-bottom: 4%;
     margin-top: 2%;
    .col-lg-4{
        padding:0px;
    }
    h4{
        padding-top: 10px;
        color: white;
    }
    h3{color:white}
    .subs{
        font-size: map-get($fontsizes , subs ); color: white;
    }
    .col-lg-6 img{
        width: 100%;
    }
    img{
        width: 100%;
    }
}


   
/*End Sections*/



/* Single css*/
.h4, h4 {
    font-size: 20px;
}
#secondary-news{margin-top: 4%;margin-bottom:3%; }
#third-type-news .container{padding-top:1%;border-top: 4px solid map-get($colours , accentcolor );}
.social{
    background-color: #EBEBEB;
    color:black;
    border-radius: 5px;
    padding:12px;
    width:41px;
    height: 41px;
    margin-right: 8px;
}
#logo{
    font-weight: 700;
    font-size: map-get($fontsizes , logo );
    color:#6A0B0B;
}
body {
    font-family:"SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
    font-size: map-get($fontsizes , psize )
  }
.main-button{
    background-color: map-get($colours , button-color );
    font-size:map-get($fontsizes , psize );
    color:map-get($colours , button-text-color );
    padding: 11px 14px 11px 14px;
    border-radius: 5px;
    text-decoration: none;
}

.nav{
    .active{
        font-weight: 700;
    }
} 
.nav-b{
    padding-right: 20px;
    border-right: solid 1px #DDDDDD;
    text-decoration: none;
}
.nav-p{
    padding-left: 20px;
    text-decoration: none;
}
.fa-cloud{
    color:map-get($colours , accentcolor );
}
.fa-search{
    color:black;
}
.notify-badge{
    position: absolute;
    bottom: 0px;
    left: 0;
    z-index: 10;
    background-color: white;
    border-radius: 0px 5px 0px 5px;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    max-height: 40px;
    padding: 10px;
}
.notify-badge p{
    font-size: map-get($fontsizes , psize );font-weight: 800;
}
.notify-badge-breaking{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: white;
    border-radius: 5px 0px 5px 0px;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    max-height: 40px;
    padding: 10px;
   
}
.notify-badge-breaking p{
    font-size: map-get($fontsizes , psize );font-weight: 800;
}
.item {
    position:relative;
    display:inline-block;
}
.nav3{display: flex!important;}
.mobile-menu{display:none !important}
.nav-link {color: #000000;}
/*End Single css*/


/*Mobile*/
@media only screen and (max-width: 990px) {
    .nav3{display: none!important;}
    .mobile-menu{display: block !important;}
    .nav4{float: right !important;}
    #main-header{
        .img2{width: 44%;}
    }
    #body .m-s-one h2 {font-size: 25px;}
  }
  @media only screen and (max-width: 770px) {
    #third-type-news .text-article {margin-right: auto;margin-left: auto;}
    .little-new{text-align: center;}
  }
  @media only screen and (max-width: 580px) {
      #header{.row>* {width: auto;}}
      #header .w30-m{width: 30%!important;}
      #header .w50-m{width: 50%!important;}
      #header .w70-m{width: 70%!important;}
      .little-news{margin-right: 5%;margin-left: 5%;}
      #third-type-news .col-lg-6{text-align: center;};
      #third-type-news .col-lg-6 img{max-width: 450px;}
      #footer .nav{justify-content: center!important;}
      .logo-footer{margin-left: auto;margin-right: auto;}
  }
  @media only screen and (max-width: 510px) {
    #header .w30-m{width: 100%!important;text-align: center;}
    #header .w70-m{width: 100%!important;}
    #header .nav2 {text-align: center;float: none;justify-content: center;}
    footer .logo-footer {margin-right: auto!important}
}
/*End Mobile*/